*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

/* Estilos generales */
.fw-700 {
    font-weight: 700;
}

main {
    overflow: hidden;
}

.bg-section-home {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./../img/rich-tervet-q2GNdFmhxx4-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.bg-rgba {
    background-color: rgba(0, 0, 0, 0.4)
}

.bg-sections {
    background-color: #f0efeb;
}

.bg-nav {
    background-color: rgba(0, 0, 0, 0.8)
}

.text-pink {
    color:#ffc8dd;
}

.titles {
    color: #212529
}

.text {
    color: #343a40
}

/* Brands colors */
.fa-html5 {
    color: #F16529
}

.fa-square-js {
    color: #F0DB4F
}

.fa-css3-alt {
    color: #264de4
}

.fa-git-alt {
    color: #F1502F
}

.fa-bootstrap {
    color: #553C7B
}

.fa-react {
    color: #61DBFB
}

.fa-linkedin-in {
    color: #0A66C2
}

/* Menú */
nav ul li {
    list-style: none;
}

nav div ul li .nav-item {
    transition: all ease 0.3s
}

.nav-item {
    color:#fff;
    text-decoration: none;
}

.nav-item:hover {
    color:#ffc8dd
}

.bg-menu {
    background-color: rgba(240, 239, 235, 0.6);
}

.offcanvas {
    max-width: 70% !important
}

.logo {
    text-decoration: none;
}


/* About */
.skills-icons {
    font-size: 4em;
    width: 2em;
}

/* Services */
.services-icons {
    font-size: 4em;
    padding-bottom: 0.3em;
}

/* Portafolio */

.tarjetita {
    background-color: #fff;
    padding: 20px 10px;
    box-shadow: 0 0 5px rgba(75, 75, 75, .07);
    margin-bottom: 1em;
}

.tarjetita-body {
    padding: 1em;
}

.tarjetita-img {
    width: 30em;
    object-fit: contain;
    height: auto;
}

/* Contact */
.contact-icons {
    font-size: 3em;
}

/* Footer */ 
.text-footer {
    color: #6c757d;
    font-size: 1em;
}

/* Media queries */
@media (max-width: 900px) {
    .skills-icons {
      width: 1.5em;
    }

    .img-profile {
        width: 15em;
    }

    .bg-section-home {
        height:auto
    }
    
    .tarjetita-img {
        width: 25em;
    }
  }

  @media (max-width: 537px) {
    .tarjetita-img {
        width: 15em;
    }
  }