*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

/* Estilos generales */
.fw-700 {
    font-weight: 700;
}

main {
    margin-top: 1.8em;
}

.bg-gris {
    background-color: hsla(220, 20%, 97%, 1);
}

/* Menú */
nav ul li {
    list-style: none;
}

.offcanvas {
    max-width: 70% !important
}

/* About */
.skills-icons {
    font-size: 4em;
    width: 2em;
}

/* Services */
.services-icons {
    font-size: 4em;
    padding-bottom: 0.3em;
}

/* Media queries */
@media (max-width: 768px) {
    .skills-icons {
      width: 1.5em;
    }
  }