* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

/* Estilos generales */
.fw-700 {
    font-weight: 700;
}

main {
    overflow: hidden;
}

.bg-section-home {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./../img/rich-tervet-q2GNdFmhxx4-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.bg-rgba {
    background-color: rgba(0, 0, 0, 0.4)
}

.bg-sections {
    background-color: #f0efeb;
}

.bg-nav {
    background-color: rgba(0, 0, 0, 0.8)
}

.text-pink {
    color: #ffc8dd;
}

.titles {
    color: #212529
}

.text {
    color: #343a40
}

/* Brands colors */
.fa-html5 {
    color: #F16529
}

.fa-square-js {
    color: #F0DB4F
}

.fa-css3-alt {
    color: #264de4
}

.fa-git-alt {
    color: #F1502F
}

.fa-bootstrap {
    color: #553C7B
}

.fa-react {
    color: #61DBFB
}

.fa-linkedin-in {
    color: #0A66C2
}

/* Menú */
nav ul li {
    list-style: none;
}

nav div ul li .nav-item {
    transition: all ease 0.3s
}

.nav-item {
    color: #fff;
    text-decoration: none;
}

.nav-item:hover {
    color: #ffc8dd
}

.bg-menu {
    background-color: rgba(240, 239, 235, 0.6);
}

.offcanvas {
    max-width: 70% !important
}

.logo {
    text-decoration: none;
}


/* About */
#about {
    height: 100vh;
}

.skills-icons {
    font-size: 4em;
    width: 2em;
}

/* Services */
#services {
    height: 100vh;
}

.services-icons {
    font-size: 4em;
    padding-bottom: 0.3em;
}

/* Portafolio */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-portafolio {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-width: 350px;
    min-height: 300px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}

.card-portafolio:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.card1 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./../img/e5f2af0748c60c71401de63162a6defe.jpg);
    background-position: center;
}

.card2 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./../img/345753943.jpg);
    background-position: center;
}

.card3 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./../img/todo.png);
    background-position: center;
}

.card4 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./../img/aesthetic-spring-14.jpg);
    background-position: center;
}

.bg-card {
    background-repeat: no-repeat;
    background-size: cover;
}

.card-contenido {
    visibility: hidden;
    height: 100%;
}

.bg-card:hover .card-contenido {
    visibility: visible;
}

.cards-container {
    padding: 10px;
}

/* Contact */
#contact {
    height: 70vh;
}

.contact-icons {
    font-size: 5em;
}

/* Footer */
.text-footer {
    color: #6c757d;
    font-size: 1em;
}

/* Media queries */
@media (max-width: 900px) {
    .skills-icons {
        width: 1.5em;
    }

    .img-profile {
        width: 15em;
    }

    .bg-section-home {
        height: 40vh;
        background-position: 30% 0%;
    }

    #about {
        height: auto
    }

    #services {
        height: auto
    }

    #contact {
        height: auto
    }

}

@media (max-width: 537px) {
    .card1 {
        background-position: left;
    }
    .card2 {
        background-position: 40% 0%;
    }
}

@media (max-width: 1600px) {
    .cards {
        justify-content: center;
    }
}